@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 234, 238);
}

#header-bg {
    background-image: url('../assets/bg.png');
}
